In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('darkgrid')
sns.set_palette('Set2')
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn import metrics
from sklearn.preprocessing import scale
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# This below is the dataset of Land use across different countries

In [19]:
land= pd.read_csv("Inputs_Land.csv")

In [20]:

land.head()

,Area Code,Area Code (M49),Country Name,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,'004,Afghanistan,6600,Country area,5110,Area,1961,1961,1000 ha,65286.0,A
1,2,'004,Afghanistan,6600,Country area,5110,Area,1962,1962,1000 ha,65286.0,A
2,2,'004,Afghanistan,6600,Country area,5110,Area,1963,1963,1000 ha,65286.0,A
3,2,'004,Afghanistan,6600,Country area,5110,Area,1964,1964,1000 ha,65286.0,A
4,2,'004,Afghanistan,6600,Country area,5110,Area,1965,1965,1000 ha,65286.0,A

In [48]:
# Dataset basic infomation
land.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376295 entries, 0 to 376294
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Area Code        376295 non-null  int64
 1   Area Code (M49)  376295 non-null  object
 2   Country Name     376295 non-null  object
 3   Item Code        376295 non-null  int64
 4   Item             376295 non-null  object
 5   Element Code     376295 non-null  int64
 6   Element          376295 non-null  object
 7   Year Code        376295 non-null  int64
 8   Year             376295 non-null  int64
 9   Unit             376295 non-null  object
 10  Value            376295 non-null  float64
 11  Flag             376295 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 34.5+ MB

In [94]:
land['Item'].unique()

array(['Country area', 'Land area', 'Agriculture', 'Agricultural land',
       'Cropland', 'Arable land', 'Temporary crops',
       'Temporary meadows and pastures', 'Temporary fallow',
       'Permanent crops', 'Permanent meadows and pastures',
       'Perm. meadows & pastures - Nat. growing', 'Forest land',
       'Naturally regenerating forest', 'Planted Forest', 'Other land',
       'Inland waters', 'Land area equipped for irrigation',
       'Land area actually irrigated',
       'Agriculture area actually irrigated',
       'Agriculture area under organic agric.',
       'Agriculture area certified organic', 'Primary Forest',
       'Farm buildings and Farmyards', 'Coastal waters',
       'Cropland area actually irrigated',
       'Cropland area under organic agric.',
       'Cropland area certified organic',
       'Cropland area under protective cover',
       'Perm. meadows & pastures - Cultivated',
       'Land used for aquaculture',
       'Perm. meadows & pastures area actually irrig.',
       'Forestry area actually irrigated',
       'Perm. meadows & pastures area under organic agric.',
       'Cropland area under conventional tillage',
       'Cropland area under zero or no tillage',
       'Cropland area under conservation tillage',
       'Perm. meadows & pastures area certified organic',
       'Inland waters used for aquac. or holding facilities',
       'Inland waters used for capture fisheries',
       'Coastal waters used for aquac. or holding facilities',
       'Coastal waters used for capture fisheries',
       'EEZ used for aquac. or holding facilities',
       'EEZ used for capture fisheries', 'Exclusive Economic Zone (EEZ)'],
      dtype=object)

In [84]:
land[land["Country Name"]=="Spain"].head(60)
# We can observe that Land use dataset has

,Area Code,Area Code (M49),Country Name,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
272128,203,'724,Spain,6600,Country area,5110,Area,1961,1961,1000 ha,50599.0000,A
272129,203,'724,Spain,6600,Country area,5110,Area,1962,1962,1000 ha,50599.0000,A
272130,203,'724,Spain,6600,Country area,5110,Area,1963,1963,1000 ha,50599.0000,A
272131,203,'724,Spain,6600,Country area,5110,Area,1964,1964,1000 ha,50599.0000,A
272132,203,'724,Spain,6600,Country area,5110,Area,1965,1965,1000 ha,50599.0000,A
272133,203,'724,Spain,6600,Country area,5110,Area,1966,1966,1000 ha,50599.0000,A
272134,203,'724,Spain,6600,Country area,5110,Area,1967,1967,1000 ha,50599.0000,A
272135,203,'724,Spain,6600,Country area,5110,Area,1968,1968,1000 ha,50599.0000,A
272136,203,'724,Spain,6600,Country area,5110,Area,1969,1969,1000 ha,50599.0000,A
272137,203,'724,Spain,6600,Country area,5110,Area,1970,1970,1000 ha,50599.0000,A
272138,203,'724,Spain,6600,Country area,5110,Area,1971,1971,1000 ha,50599.0000,A
272139,203,'724,Spain,6600,Country area,5110,Area,1972,1972,1000 ha,50599.0000,A
272140,203,'724,Spain,6600,Country area,5110,Area,1973,1973,1000 ha,50599.0000,A
272141,203,'724,Spain,6600,Country area,5110,Area,1974,1974,1000 ha,50599.0000,A
272142,203,'724,Spain,6600,Country area,5110,Area,1975,1975,1000 ha,50599.0000,A
272143,203,'724,Spain,6600,Country area,5110,Area,1976,1976,1000 ha,50599.0000,A
272144,203,'724,Spain,6600,Country area,5110,Area,1977,1977,1000 ha,50599.0000,A
272145,203,'724,Spain,6600,Country area,5110,Area,1978,1978,1000 ha,50599.0000,A
272146,203,'724,Spain,6600,Country area,5110,Area,1979,1979,1000 ha,50599.0000,A
272147,203,'724,Spain,6600,Country area,5110,Area,1980,1980,1000 ha,50599.0000,A
272148,203,'724,Spain,6600,Country area,5110,Area,1981,1981,1000 ha,50599.0000,A
272149,203,'724,Spain,6600,Country area,5110,Area,1982,1982,1000 ha,50599.0000,A
272150,203,'724,Spain,6600,Country area,5110,Area,1983,1983,1000 ha,50599.0000,A
272151,203,'724,Spain,6600,Country area,5110,Area,1984,1984,1000 ha,50599.0000,A
272152,203,'724,Spain,6600,Country area,5110,Area,1985,1985,1000 ha,50599.0000,A
272153,203,'724,Spain,6600,Country area,5110,Area,1986,1986,1000 ha,50599.0000,A
272154,203,'724,Spain,6600,Country area,5110,Area,1987,1987,1000 ha,50599.0000,A
272155,203,'724,Spain,6600,Country area,5110,Area,1988,1988,1000 ha,50599.0000,A
272156,203,'724,Spain,6600,Country area,5110,Area,1989,1989,1000 ha,50599.0000,A
272157,203,'724,Spain,6600,Country area,5110,Area,1990,1990,1000 ha,50599.0000,A
272158,203,'724,Spain,6600,Country area,5110,Area,1991,1991,1000 ha,50599.0000,A
272159,203,'724,Spain,6600,Country area,5110,Area,1992,1992,1000 ha,50599.0000,A
272160,203,'724,Spain,6600,Country area,5110,Area,1993,1993,1000 ha,50599.0000,A
272161,203,'724,Spain,6600,Country area,5110,Area,1994,1994,1000 ha,50599.0000,A
272162,203,'724,Spain,6600,Country area,5110,Area,1995,1995,1000 ha,50599.0000,A
272163,203,'724,Spain,6600,Country area,5110,Area,1996,1996,1000 ha,50599.0000,A
272164,203,'724,Spain,6600,Country area,5110,Area,1997,1997,1000 ha,50599.0000,A
272165,203,'724,Spain,6600,Country area,5110,Area,1998,1998,1000 ha,50599.0000,A
272166,203,'724,Spain,6600,Country area,5110,Area,1999,1999,1000 ha,50599.0000,A
272167,203,'724,Spain,6600,Country area,5110,Area,2000,2000,1000 ha,50500.0000,A
272168,203,'724,Spain,6600,Country area,5110,Area,2001,2001,1000 ha,50502.0000,A
272169,203,'724,Spain,6600,Country area,5110,Area,2002,2002,1000 ha,50532.0000,A
272170,203,'724,Spain,6600,Country area,5110,Area,2003,2003,1000 ha,50537.0000,A
272171,203,'724,Spain,6600,Country area,5110,Area,2004,2004,1000 ha,50537.0000,A
272172,203,'724,Spain,6600,Country area,5110,Area,2005,2005,1000 ha,50537.0000,A
272173,203,'724,Spain,6600,Country area,5110,Area,2006,2006,1000 ha,50537.0000,A
272174,203,'724,Spain,6600,Country area,5110,Area,2007,2007,1000 ha,50537.0000,A
272175,203,'724,Spain,6600,Country area,5110,Area,2008,2008,1000 ha,50537.0000,A
272176,203,'724,Spain,6600,Country area,5110,Area,2009,2009,1000 ha,50537.0000,A
272177,203,'724,Spain,6600,Country area,5110,Area,2010,2010,1000 ha,50560.0000,A
272178,203,'724,Spain,6600,Country area,5110,Area,2011,2011,1000 ha,50560.0000,A
272179,203,'724,Spain,6600,Country area,5110,Area,2012,2012,1000 ha,50594.0000,A
272180,203,'724,Spain,6600,Country area,5110,Area,2013,2013,1000 ha,50594.0000,A
272181,203,'724,Spain,6600,Country area,5110,Area,2014,2014,1000 ha,50594.0000,A
272182,203,'724,Spain,6600,Country area,5110,Area,2015,2015,1000 ha,50592.4000,A
272183,203,'724,Spain,6600,Country area,5110,Area,2016,2016,1000 ha,50593.5000,A
272184,203,'724,Spain,6600,Country area,5110,Area,2017,2017,1000 ha,50593.5230,A
272185,203,'724,Spain,6600,Country area,5110,Area,2018,2018,1000 ha,50595.7289,A
272186,203,'724,Spain,6600,Country area,5110,Area,2019,2019,1000 ha,50595.2796,A
272187,203,'724,Spain,6600,Country area,5110,Area,2020,2020,1000 ha,50596.9891,A

# Checkig for possible null values

In [40]:
land.isna().any()
# we can see that we do not have any NaN value as the return value is False

Area Code          False
Area Code (M49)    False
Country Name       False
Item Code          False
Item               False
Element Code       False
Element            False
Year Code          False
Year               False
Unit               False
Value              False
Flag               False
dtype: bool

In [41]:
land.isnull().sum() # There is also no Null values

Area Code          0
Area Code (M49)    0
Country Name       0
Item Code          0
Item               0
Element Code       0
Element            0
Year Code          0
Year               0
Unit               0
Value              0
Flag               0
dtype: int64

# Basic EDA for getting some insight of the data

In [96]:
# we can see that land dataset has 376295 row and 12 columns
land.shape

(376295, 12)

In [99]:
# Number of countries in our dataset
country=land["Country Name"].unique()
len(country)

281

In [101]:

land[land["Country Name"]=="Afghanistan"].head(60)
# We can observe Item column has different values for each Country

,Area Code,Area Code (M49),Country Name,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,'004,Afghanistan,6600,Country area,5110,Area,1961,1961,1000 ha,65286.0,A
1,2,'004,Afghanistan,6600,Country area,5110,Area,1962,1962,1000 ha,65286.0,A
2,2,'004,Afghanistan,6600,Country area,5110,Area,1963,1963,1000 ha,65286.0,A
3,2,'004,Afghanistan,6600,Country area,5110,Area,1964,1964,1000 ha,65286.0,A
4,2,'004,Afghanistan,6600,Country area,5110,Area,1965,1965,1000 ha,65286.0,A
5,2,'004,Afghanistan,6600,Country area,5110,Area,1966,1966,1000 ha,65286.0,A
6,2,'004,Afghanistan,6600,Country area,5110,Area,1967,1967,1000 ha,65286.0,A
7,2,'004,Afghanistan,6600,Country area,5110,Area,1968,1968,1000 ha,65286.0,A
8,2,'004,Afghanistan,6600,Country area,5110,Area,1969,1969,1000 ha,65286.0,A
9,2,'004,Afghanistan,6600,Country area,5110,Area,1970,1970,1000 ha,65286.0,A
10,2,'004,Afghanistan,6600,Country area,5110,Area,1971,1971,1000 ha,65286.0,A
11,2,'004,Afghanistan,6600,Country area,5110,Area,1972,1972,1000 ha,65286.0,A
12,2,'004,Afghanistan,6600,Country area,5110,Area,1973,1973,1000 ha,65286.0,A
13,2,'004,Afghanistan,6600,Country area,5110,Area,1974,1974,1000 ha,65286.0,A
14,2,'004,Afghanistan,6600,Country area,5110,Area,1975,1975,1000 ha,65286.0,A
15,2,'004,Afghanistan,6600,Country area,5110,Area,1976,1976,1000 ha,65286.0,A
16,2,'004,Afghanistan,6600,Country area,5110,Area,1977,1977,1000 ha,65286.0,A
17,2,'004,Afghanistan,6600,Country area,5110,Area,1978,1978,1000 ha,65286.0,A
18,2,'004,Afghanistan,6600,Country area,5110,Area,1979,1979,1000 ha,65286.0,A
19,2,'004,Afghanistan,6600,Country area,5110,Area,1980,1980,1000 ha,65286.0,A
20,2,'004,Afghanistan,6600,Country area,5110,Area,1981,1981,1000 ha,65286.0,A
21,2,'004,Afghanistan,6600,Country area,5110,Area,1982,1982,1000 ha,65286.0,A
22,2,'004,Afghanistan,6600,Country area,5110,Area,1983,1983,1000 ha,65286.0,A
23,2,'004,Afghanistan,6600,Country area,5110,Area,1984,1984,1000 ha,65286.0,A
24,2,'004,Afghanistan,6600,Country area,5110,Area,1985,1985,1000 ha,65286.0,A
25,2,'004,Afghanistan,6600,Country area,5110,Area,1986,1986,1000 ha,65286.0,A
26,2,'004,Afghanistan,6600,Country area,5110,Area,1987,1987,1000 ha,65286.0,A
27,2,'004,Afghanistan,6600,Country area,5110,Area,1988,1988,1000 ha,65286.0,A
28,2,'004,Afghanistan,6600,Country area,5110,Area,1989,1989,1000 ha,65286.0,A
29,2,'004,Afghanistan,6600,Country area,5110,Area,1990,1990,1000 ha,65286.0,A
30,2,'004,Afghanistan,6600,Country area,5110,Area,1991,1991,1000 ha,65286.0,A
31,2,'004,Afghanistan,6600,Country area,5110,Area,1992,1992,1000 ha,65286.0,A
32,2,'004,Afghanistan,6600,Country area,5110,Area,1993,1993,1000 ha,65286.0,A
33,2,'004,Afghanistan,6600,Country area,5110,Area,1994,1994,1000 ha,65286.0,A
34,2,'004,Afghanistan,6600,Country area,5110,Area,1995,1995,1000 ha,65286.0,A
35,2,'004,Afghanistan,6600,Country area,5110,Area,1996,1996,1000 ha,65286.0,A
36,2,'004,Afghanistan,6600,Country area,5110,Area,1997,1997,1000 ha,65286.0,A
37,2,'004,Afghanistan,6600,Country area,5110,Area,1998,1998,1000 ha,65286.0,A
38,2,'004,Afghanistan,6600,Country area,5110,Area,1999,1999,1000 ha,65286.0,A
39,2,'004,Afghanistan,6600,Country area,5110,Area,2000,2000,1000 ha,65286.0,A
40,2,'004,Afghanistan,6600,Country area,5110,Area,2001,2001,1000 ha,65286.0,A
41,2,'004,Afghanistan,6600,Country area,5110,Area,2002,2002,1000 ha,65286.0,A
42,2,'004,Afghanistan,6600,Country area,5110,Area,2003,2003,1000 ha,65286.0,A
43,2,'004,Afghanistan,6600,Country area,5110,Area,2004,2004,1000 ha,65286.0,A
44,2,'004,Afghanistan,6600,Country area,5110,Area,2005,2005,1000 ha,65286.0,A
45,2,'004,Afghanistan,6600,Country area,5110,Area,2006,2006,1000 ha,65286.0,A
46,2,'004,Afghanistan,6600,Country area,5110,Area,2007,2007,1000 ha,65286.0,A
47,2,'004,Afghanistan,6600,Country area,5110,Area,2008,2008,1000 ha,65286.0,A
48,2,'004,Afghanistan,6600,Country area,5110,Area,2009,2009,1000 ha,65286.0,A
49,2,'004,Afghanistan,6600,Country area,5110,Area,2010,2010,1000 ha,65286.0,A
50,2,'004,Afghanistan,6600,Country area,5110,Area,2011,2011,1000 ha,65286.0,A
51,2,'004,Afghanistan,6600,Country area,5110,Area,2012,2012,1000 ha,65286.0,A
52,2,'004,Afghanistan,6600,Country area,5110,Area,2013,2013,1000 ha,65286.0,A
53,2,'004,Afghanistan,6600,Country area,5110,Area,2014,2014,1000 ha,65286.0,A
54,2,'004,Afghanistan,6600,Country area,5110,Area,2015,2015,1000 ha,65286.0,A
55,2,'004,Afghanistan,6600,Country area,5110,Area,2016,2016,1000 ha,65286.0,A
56,2,'004,Afghanistan,6600,Country area,5110,Area,2017,2017,1000 ha,65286.0,A
57,2,'004,Afghanistan,6600,Country area,5110,Area,2018,2018,1000 ha,65286.0,A
58,2,'004,Afghanistan,6600,Country area,5110,Area,2019,2019,1000 ha,65286.0,A
59,2,'004,Afghanistan,6600,Country area,5110,Area,2020,2020,1000 ha,65286.0,A

In [102]:

land[land["Country Name"]=="Afghanistan"].tail(60)
# We can observe that Land Item has Agriculture area under organic agric. and Primary Forest value for Afghanistan

,Area Code,Area Code (M49),Country Name,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1526,2,'004,Afghanistan,6671,Agriculture area under organic agric.,5110,Area,2018,2018,1000 ha,0.7860,I
1527,2,'004,Afghanistan,6671,Agriculture area under organic agric.,5110,Area,2019,2019,1000 ha,0.7860,I
1528,2,'004,Afghanistan,6671,Agriculture area under organic agric.,5110,Area,2020,2020,1000 ha,0.0977,I
1529,2,'004,Afghanistan,6671,Agriculture area under organic agric.,5110,Area,2021,2021,1000 ha,0.0977,I
1530,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2007,2007,%,0.0000,E
1531,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2008,2008,%,0.0000,E
1532,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2009,2009,%,0.0000,E
1533,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2010,2010,%,0.0000,E
1534,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2011,2011,%,0.0000,E
1535,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2012,2012,%,0.0000,E
1536,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2013,2013,%,0.0000,E
1537,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2015,2015,%,0.0000,E
1538,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2016,2016,%,0.0000,E
1539,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2017,2017,%,0.0000,E
1540,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2018,2018,%,0.0000,E
1541,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2019,2019,%,0.0000,E
1542,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2020,2020,%,0.0000,E
1543,2,'004,Afghanistan,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2021,2021,%,0.0000,E
1544,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2007,2007,1000 ha,0.0200,I
1545,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2008,2008,1000 ha,0.0200,I
1546,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2009,2009,1000 ha,0.0300,A
1547,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2010,2010,1000 ha,0.0400,A
1548,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2011,2011,1000 ha,0.0400,A
1549,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2012,2012,1000 ha,0.0400,I
1550,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2013,2013,1000 ha,0.0400,I
1551,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2015,2015,1000 ha,0.0810,I
1552,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2016,2016,1000 ha,0.3900,I
1553,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2017,2017,1000 ha,0.2509,I
1554,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2018,2018,1000 ha,0.7860,I
1555,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2019,2019,1000 ha,0.7860,I
1556,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2020,2020,1000 ha,0.0938,I
1557,2,'004,Afghanistan,6672,Agriculture area certified organic,5110,Area,2021,2021,1000 ha,0.0938,I
1558,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1990,1990,1000 ha,0.0000,I
1559,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1991,1991,1000 ha,0.0000,I
1560,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1992,1992,1000 ha,0.0000,I
1561,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1993,1993,1000 ha,0.0000,I
1562,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1994,1994,1000 ha,0.0000,I
1563,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1995,1995,1000 ha,0.0000,I
1564,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1996,1996,1000 ha,0.0000,I
1565,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1997,1997,1000 ha,0.0000,I
1566,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1998,1998,1000 ha,0.0000,I
1567,2,'004,Afghanistan,6714,Primary Forest,5110,Area,1999,1999,1000 ha,0.0000,I
1568,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2000,2000,1000 ha,0.0000,I
1569,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2001,2001,1000 ha,0.0000,I
1570,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2002,2002,1000 ha,0.0000,I
1571,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2003,2003,1000 ha,0.0000,I
1572,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2004,2004,1000 ha,0.0000,I
1573,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2005,2005,1000 ha,0.0000,I
1574,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2006,2006,1000 ha,0.0000,I
1575,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2007,2007,1000 ha,0.0000,I
1576,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2008,2008,1000 ha,0.0000,I
1577,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2009,2009,1000 ha,0.0000,I
1578,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2010,2010,1000 ha,0.0000,I
1579,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2011,2011,1000 ha,0.0000,I
1580,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2012,2012,1000 ha,0.0000,I
1581,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2013,2013,1000 ha,0.0000,I
1582,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2014,2014,1000 ha,0.0000,I
1583,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2015,2015,1000 ha,0.0000,I
1584,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2016,2016,1000 ha,0.0000,I
1585,2,'004,Afghanistan,6714,Primary Forest,5110,Area,2017,2017,1000 ha,0.0000,I

In [104]:
# Let see all the unique values that Item column has for each country. Lets take example of Afghanistan.
country= land[land['Country Name'] == 'Afghanistan']


unique_items = country['Item'].unique()

print(unique_items)

# As we can see each country has data on different types of land. however, we may not need all types of this data
# becuase we will only deal with relevant values. So after merging two dataset we may drop irrelevant values

['Country area' 'Land area' 'Agriculture' 'Agricultural land' 'Cropland'
 'Arable land' 'Temporary crops' 'Temporary meadows and pastures'
 'Temporary fallow' 'Permanent crops' 'Permanent meadows and pastures'
 'Perm. meadows & pastures - Nat. growing' 'Forest land'
 'Naturally regenerating forest' 'Planted Forest' 'Other land'
 'Inland waters' 'Land area equipped for irrigation'
 'Land area actually irrigated' 'Agriculture area actually irrigated'
 'Agriculture area under organic agric.'
 'Agriculture area certified organic' 'Primary Forest']

# This below is the dataset of Urbanization growth across different countries

In [55]:
urban= pd.read_csv("urban.csv")
urban.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
2,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.77600,50.76100,50.746000,50.730000,50.715000,50.700000,...,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000,43.866000,44.052000
3,Africa Eastern and Southern,AFE,Urban population (% of total population),SP.URB.TOTL.IN.ZS,14.56381,14.81141,15.069249,15.347976,15.640195,15.941282,...,33.476212,33.936963,34.425584,34.894753,35.358901,35.847598,36.336259,36.828302,37.323699,37.825158
4,Afghanistan,AFG,Urban population (% of total population),SP.URB.TOTL.IN.ZS,8.40100,8.68400,8.976000,9.276000,9.586000,9.904000,...,24.373000,24.587000,24.803000,25.020000,25.250000,25.495000,25.754000,26.026000,26.314000,26.616000

# Checkig for possible null values in Urban dataset

In [56]:
urban.isna().any().any() 
# We can see that there is NAN values in our Urban dataset

True

In [57]:
missing_value_counts = urban.isna().sum()
missing_value_counts
# Here we can see the number of NAN values in each column

Country Name      2
Country Code      2
Indicator Name    2
Indicator Code    2
1960              5
                 ..
2018              4
2019              4
2020              4
2021              4
2022              4
Length: 67, dtype: int64

In [58]:
missing_percentage = (urban.isna().sum() / len(urban)) * 100
missing_percentage # Here we can check the percentage of NaN values in our dataset
# we can see that it is a minimul value we can drop it. I would not recommeding imputing it as we will not have 
#accurate analysis and also it not a huge percentage. Therefore, it will not be a loss.

Country Name      0.746269
Country Code      0.746269
Indicator Name    0.746269
Indicator Code    0.746269
1960              1.865672
                    ...
2018              1.492537
2019              1.492537
2020              1.492537
2021              1.492537
2022              1.492537
Length: 67, dtype: float64

# We should remove NaN values before proceeding with merging the datasets

In [59]:
# Using urban.head() we can see that there are two rows With NAN values that need to be removed or dropped
urban.dropna(inplace=True)

In [60]:
urban.isna().sum() # we can see that now our dataset is clean.

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2018              0
2019              0
2020              0
2021              0
2022              0
Length: 67, dtype: int64

In [61]:
urban.isnull().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2018              0
2019              0
2020              0
2021              0
2022              0
Length: 67, dtype: int64

In [52]:
urban.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776000,50.761000,50.746000,50.730000,50.715000,50.700000,...,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000,43.866000,44.052000
3,Africa Eastern and Southern,AFE,Urban population (% of total population),SP.URB.TOTL.IN.ZS,14.563810,14.811410,15.069249,15.347976,15.640195,15.941282,...,33.476212,33.936963,34.425584,34.894753,35.358901,35.847598,36.336259,36.828302,37.323699,37.825158
4,Afghanistan,AFG,Urban population (% of total population),SP.URB.TOTL.IN.ZS,8.401000,8.684000,8.976000,9.276000,9.586000,9.904000,...,24.373000,24.587000,24.803000,25.020000,25.250000,25.495000,25.754000,26.026000,26.314000,26.616000
5,Africa Western and Central,AFW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,14.705391,15.090123,15.484076,15.897592,16.329208,16.778650,...,43.554094,44.180175,44.805863,45.425066,46.039478,46.649426,47.255413,47.857831,48.454806,49.047385
6,Angola,AGO,Urban population (% of total population),SP.URB.TOTL.IN.ZS,10.435000,10.798000,11.204000,11.624000,12.058000,12.504000,...,62.002000,62.731000,63.446000,64.149000,64.839000,65.514000,66.177000,66.825000,67.460000,68.081000

In [23]:
urban.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            263 non-null    float64
 5   1961            263 non-null    float64
 6   1962            263 non-null    float64
 7   1963            263 non-null    float64
 8   1964            263 non-null    float64
 9   1965            263 non-null    float64
 10  1966            263 non-null    float64
 11  1967            263 non-null    float64
 12  1968            263 non-null    float64
 13  1969            263 non-null    float64
 14  1970            263 non-null    float64
 15  1971            263 non-null    float64
 16  1972            263 non-null    float64
 17  1973            263 non-null    float64
 18  1974            263 non-null    float64
 19  1975            263 non-null    float64
 20  1976            263 non-null    float64
 21  1977            263 non-null    float64
 22  1978            263 non-null    float64
 23  1979            263 non-null    float64
 24  1980            263 non-null    float64
 25  1981            263 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            264 non-null    float64
 35  1991            264 non-null    float64
 36  1992            264 non-null    float64
 37  1993            264 non-null    float64
 38  1994            264 non-null    float64
 39  1995            264 non-null    float64
 40  1996            264 non-null    float64
 41  1997            264 non-null    float64
 42  1998            264 non-null    float64
 43  1999            264 non-null    float64
 44  2000            264 non-null    float64
 45  2001            264 non-null    float64
 46  2002            264 non-null    float64
 47  2003            264 non-null    float64
 48  2004            264 non-null    float64
 49  2005            264 non-null    float64
 50  2006            264 non-null    float64
 51  2007            264 non-null    float64
 52  2008            264 non-null    float64
 53  2009            264 non-null    float64
 54  2010            264 non-null    float64
 55  2011            264 non-null    float64
 56  2012            264 non-null    float64
 57  2013            264 non-null    float64
 58  2014            264 non-null    float64
 59  2015            264 non-null    float64
 60  2016            264 non-null    float64
 61  2017            264 non-null    float64
 62  2018            264 non-null    float64
 63  2019            264 non-null    float64
 64  2020            264 non-null    float64
 65  2021            264 non-null    float64
 66  2022            264 non-null    float64
dtypes: float64(63), object(4)
memory usage: 140.4+ KB

In [70]:
#The urban datast has 263 rows and 67 columns
urban.shape

(263, 67)

# Now we need to merge our dataset, becuase we need to have both of them as one dataset for our data analysis

In [62]:
# In order to 
agriculture = pd.merge(land, urban, on='Country Name', how='inner') # we will do an inner merge this will make sure to
# merge only those countries that are available in both dataset.

In [63]:
agriculture.head()

,Area Code,Area Code (M49),Country Name,Item Code,Item,Element Code,Element,Year Code,Year,Unit,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,2,'004,Afghanistan,6600,Country area,5110,Area,1961,1961,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616
1,2,'004,Afghanistan,6600,Country area,5110,Area,1962,1962,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616
2,2,'004,Afghanistan,6600,Country area,5110,Area,1963,1963,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616
3,2,'004,Afghanistan,6600,Country area,5110,Area,1964,1964,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616
4,2,'004,Afghanistan,6600,Country area,5110,Area,1965,1965,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616

In [64]:
# Checking again for null values in our dataset

In [66]:
agriculture.isnull().sum() # There is no null values

Area Code          0
Area Code (M49)    0
Country Name       0
Item Code          0
Item               0
                  ..
2018               0
2019               0
2020               0
2021               0
2022               0
Length: 78, dtype: int64

In [68]:
agriculture.isna().sum() # There is no NaN valuesb

Area Code          0
Area Code (M49)    0
Country Name       0
Item Code          0
Item               0
                  ..
2018               0
2019               0
2020               0
2021               0
2022               0
Length: 78, dtype: int64

In [ ]:
 # Here I have written the merged dataset into a csv file which can help us ready it anywhere

In [9]:
merged_df.to_csv('Agriculture.csv', index=False)

In [106]:
agriculture= pd.read_csv("Agriculture.csv")

In [107]:
agriculture.head()

,Area Code,Area Code (M49),Country Name,Item Code,Item,Element Code,Element,Year Code,Year,Unit,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,2,'004,Afghanistan,6600,Country area,5110,Area,1961,1961,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616
1,2,'004,Afghanistan,6600,Country area,5110,Area,1962,1962,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616
2,2,'004,Afghanistan,6600,Country area,5110,Area,1963,1963,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616
3,2,'004,Afghanistan,6600,Country area,5110,Area,1964,1964,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616
4,2,'004,Afghanistan,6600,Country area,5110,Area,1965,1965,1000 ha,...,24.373,24.587,24.803,25.02,25.25,25.495,25.754,26.026,26.314,26.616

In [109]:
agriculture["Item"].unique() # We can see that Item column has these unique values.
# I believe we do not need all of these values, but still I am pushin this file into github so you can also explore 
# this dataset and see what can do it.

array(['Country area', 'Land area', 'Agriculture', 'Agricultural land',
       'Cropland', 'Arable land', 'Temporary crops',
       'Temporary meadows and pastures', 'Temporary fallow',
       'Permanent crops', 'Permanent meadows and pastures',
       'Perm. meadows & pastures - Nat. growing', 'Forest land',
       'Naturally regenerating forest', 'Planted Forest', 'Other land',
       'Inland waters', 'Land area equipped for irrigation',
       'Land area actually irrigated',
       'Agriculture area actually irrigated',
       'Agriculture area under organic agric.',
       'Agriculture area certified organic', 'Primary Forest',
       'Farm buildings and Farmyards', 'Coastal waters',
       'Cropland area actually irrigated',
       'Cropland area under organic agric.',
       'Cropland area certified organic',
       'Cropland area under protective cover',
       'Perm. meadows & pastures - Cultivated',
       'Land used for aquaculture',
       'Perm. meadows & pastures area actually irrig.',
       'Forestry area actually irrigated',
       'Perm. meadows & pastures area under organic agric.',
       'Cropland area under conventional tillage',
       'Cropland area under zero or no tillage',
       'Cropland area under conservation tillage',
       'Perm. meadows & pastures area certified organic',
       'Inland waters used for aquac. or holding facilities',
       'Inland waters used for capture fisheries',
       'Coastal waters used for aquac. or holding facilities',
       'Coastal waters used for capture fisheries',
       'EEZ used for aquac. or holding facilities',
       'EEZ used for capture fisheries', 'Exclusive Economic Zone (EEZ)'],
      dtype=object)

In [ ]:
# After Merging there might be data redunency or data anamolies that should be take care of